<html>
    <head>
        <title>i9web</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="css.php?content" />
        <script type="text/javascript" language="javascript" src="js.php?content"></script>
        <base href="{base_href}" />
    </head>
    <body>
        <div id="corpo">
            <h1>Funciona!</h1>

            <p>Mais um projeto baseado no i9Web foi iniciado.</p>

            <p>Para criar um componente, inspecione a pasta /components/content do projeto.</p>
        </div>
        <div id="rodape" title="Rodapé">
            &copy; 2010-2012 <span title="Qual sistema você vai concluir hoje?">i9web</span> Sistemas Ilimitados. |
            <a href="http://i9web.sourceforge.net/">Página do projeto</a>
        </div>
    </body>
</html>