<html>
    <head>
        <title>Manutenção de livros</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="style/css" href="componentes/livro/view/css/livro.css">
    </head>
    <body>
        <form method="post">
            <input type="hidden" name="idLivro" value="{idLivro}">
            <table border="1">
                <tr>
                    <th>Numero</th>
                </tr>
                <tr>
                    <td><input type="text" name="numero" value="{numero}"></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="acao" value="{acao}">
                        <!-- BEGIN Consultar -->
                        <input type="submit" name="acao" value="Consultar">
                        <!-- END Consultar -->
                        <!-- BEGIN Remover -->
                        <input type="submit" name="acao" value="Remover">
                        <!-- END Remover -->
                    </td>
                </tr>
            </table>
        </form>
        <!-- BEGIN Consulta -->
        <table border="1">
            <tr>
                <th>Código</th>
                <th>Numero</th>
                <th>Ação</th>
            </tr>
            <!-- BEGIN Livro -->
            <tr valign="center">
                <td>{idLivro}</td>
                <td>{numero}</td>
                <td>
                    <form method="post" action="">
                        <input type="hidden"name="idLivro" value="{idLivro}">
                        <input type="image" name="acao"    value="Editar"  src="img/ico16_editar.png">
                        <input type="image" name="acao"    value="Remover" src="img/ico16_lixeira.gif">
                    </form>
                </td>
            </tr>
            <!-- END Livro -->
        </table>
        <!-- END Consulta -->
    </body>
</html>