{sayCheese}
<img src="componentes/menu/view/img/money-2.png"> Ações (<i>stock</i>)<br>
<img src="componentes/menu/view/img/accessories-date.png"> Agenda<br>
<img src="componentes/menu/view/img/briefcase.png"> Arquivos<br>
<img src="componentes/menu/view/img/applications-education.png"> Cursos (<i>e-learn</i>)<br>
<img src="componentes/menu/view/img/note.png"> Notas (<i>TODO</i>)<br>
<img src="componentes/menu/view/img/mail-notification.png"> Correspondências<br>
<img src="componentes/menu/view/img/cake.png"> Charges<br>
<img src="componentes/menu/view/img/photos.png"> Fotos<br>
<img src="componentes/menu/view/img/books.png"> Leitura (<i>e-books</i>)<br>
<img src="componentes/menu/view/img/asterisk-yellow.png"> Microblogs<br>
<img src="componentes/menu/view/img/music.png"> Músicas<br>
<img src="componentes/menu/view/img/book-addresses.png"> Notícias<br>
<img src="componentes/menu/view/img/film.png"> Vídeos<br>
<br>
<a href="logout.php"><img src="componentes/menu/view/img/application-exit-2.png"> Sair</a>