<html>
    <head>
        <title>i9web</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="componentes/portal/view/css/portalView.css" />
    </head>
    <body>
        <div id="cabecalho" title="Cabeçalho">
            
        </div>
        <div id="corpo">
            <div id="menu" title="Menu">
                {componente_Menu}
            </div>
            <div id="conteudo" title="Conteúdo">
                {conteudo}
            </div>
        </div>
        <div id="rodape" title="Rodapé">
            &copy; 2010-2012 <span title="Qual sistema você vai concluir hoje?">i9web</span> Sistemas Ilimitados. |
            <a href="https://sourceforge.net/projects/i9web/">Página do projeto</a>
        </div>
    </body>
</html>