<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Relação de usuários</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <TABLE WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING =0>
            <TR>
                <TD>
                    <FONT SIZE="5">Lista de Usuários</FONT>
                </TD>
            </TR>
            <TR>
                <TD>
                    <INPUT TYPE="button" VALUE="Imprimir">
                    <INPUT TYPE="button" VALUE="Exportar">
                </TD>
            </TR>
            <TR>
                <TD>
                    <TABLE width="60%" BORDER=0 CELLSPACING=0 CELLPADDING=0 >
                        <TR>
                            <td width="35%"><B>Nome</B></td>
                            <td width="35%"><B>Email</B></td>
                            <td width="10%"><B>Situação</B></td>
                            <td width="20%"><B></B></td>
                        </TR>
                        <TR>
                            <td>Selvino Wilmar Rodrigues Junior</td>
                            <td>selvinojunior@gmail.com</td>
                            <td>Ativo</td>
                            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
                        </TR>
                        <TR>
                            <td>Selvino Wilmar Rodrigues Junior</td>
                            <td>selvinojunior@gmail.com</td>
                            <td>Ativo</td>
                            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
                        </TR>
                        <TR>
                            <td>Selvino Wilmar Rodrigues Junior</td>
                            <td>selvinojunior@gmail.com</td>
                            <td>Ativo</td>
                            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
                        </TR>
                        <TR>
                            <td>Selvino Wilmar Rodrigues Junior</td>
                            <td>selvinojunior@gmail.com</td>
                            <td>Ativo</td>
                            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
                        </TR>
                    </TABLE>
                </TD>
            </TR>
        </TABLE>
    </body>
</html>