<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Pesquisa de usuários</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <TABLE WIDTH="60%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
            <TR>
                <TD>
                    <FONT SIZE="6"><B>Cadastro de Usuários</B></FONT>
                </TD>
            </TR>
            <TR>
                <TD>
                    &nbsp;
                </TD>
            </TR>
            <TR>
                <TD>
                    <FONT SIZE="5">Pesquisar</FONT>
                </TD>
            </TR>
            <TR>
                <TD>
                    <TABLE>
                        <tr>
                            <td>Nome</td>
                            <td><INPUT type="text" name="nome"></td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td><INPUT type="text" name="email"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><INPUT type="checkbox" name="nome">Pesquisar somente usuários ativos?</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><INPUT type="button" value="Localizar"></td>
                        </tr>
                    </TABLE>
                </TD>
            </TR>
        </TABLE>
    </body>
</html>