<html>
	<body>
     <TABLE WIDTH="60%" BORDER=0 CELLSPACING=0 CELLPADDING =0>
	   <TR>
	     <TD>
         <FONT SIZE="6"><B>Cadastro de Usuários</B></FONT>
	     </TD>
	  </TR>
	  <TR>
	     <TD>
	      &nbsp;
	     </TD>
	  </TR>
	   <TR>
	     <TD>
         <FONT SIZE="5">Pesquisar</FONT>
	     </TD>
	  </TR>
    <TR>
	     <TD>
	        <TABLE>
	          <tr>
	            <td>Nome</td>
	            <td><INPUT type="text" name="nome"></td>
	          </tr>
	          <tr>
	            <td>E-mail</td>
	            <td><INPUT type="text" name="email"></td>
	          </tr>
	          <tr>
	            <td>&nbsp;</td>
	            <td><INPUT type="checkbox" name="nome">Pesquisar somente usuários ativos?</td>
	          </tr>
	          <tr>
	            <td>&nbsp;</td>
	            <td><INPUT type="button" value="Localizar"></td>
	          </tr>
	        </TABLE>
	     </TD>
	  </TR>
	  <TR>
	     <TD>
	      &nbsp;
	     </TD>
	  </TR>
	 </TABLE>

   <TABLE WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING =0>
	 <TR>
	    <TD>
         <FONT SIZE="5">Lista de Usuários</FONT>
	    </TD>
   </TR>
	 <TR>
	    <TD>
				<INPUT TYPE="button" VALUE="Imprimir"> 	   
				<INPUT TYPE="button" VALUE="Exportar"> 	   
	    </TD>
	 </TR>
	 <TR>
	    <TD>
	       <TABLE width="60%" BORDER=0 CELLSPACING=0 CELLPADDING=0 >
	          <TR>
	            <td width="35%"><B>Nome</B></td>
	            <td width="35%"><B>Email</B></td>
	            <td width="10%"><B>Situação</B></td>
	            <td width="20%"><B></B></td>
	          </TR>
	          <TR>
	            <td>Selvino Wilmar Rodrigues Junior</td>
	            <td>selvinojunior@gmail.com</td>
	            <td>Ativo</td>
	            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
	          </TR>
	          <TR>
	            <td>Selvino Wilmar Rodrigues Junior</td>
	            <td>selvinojunior@gmail.com</td>
	            <td>Ativo</td>
	            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
	          </TR>
	          <TR>
	            <td>Selvino Wilmar Rodrigues Junior</td>
	            <td>selvinojunior@gmail.com</td>
	            <td>Ativo</td>
	            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
	          </TR>
	          <TR>
	            <td>Selvino Wilmar Rodrigues Junior</td>
	            <td>selvinojunior@gmail.com</td>
	            <td>Ativo</td>
	            <td><INPUT TYPE="button" VALUE="Detalhar" ><INPUT TYPE="button" VALUE="Excluir" ></td>
	          </TR>
	       </TABLE>	  
	  </TD>
	 </TR>
	</TABLE>
	 

   <TABLE WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING =0>
   <TR>
	     <TD>
	      &nbsp;
	     </TD>
	  </TR>
	  	 <TR>
	    <TD>
         <FONT SIZE="5">Detalhes do Usuário</FONT>
	    </TD>
   </TR>
	 <TR>
	    <TD>
				<INPUT TYPE="button" VALUE="Novo"> 	   
				<INPUT TYPE="button" VALUE="Salvar"> 	   
				<INPUT TYPE="button" VALUE="Cancelar"> 	   
	    </TD>
	 </TR>
	 <TR>
	    <TD>
	       <TABLE width="60%" BORDER=0 CELLSPACING=0 CELLPADDING=0 >
	          <TR>
	            <td width="10%">&nbsp;</td>
	            <td>&nbsp;</td>
	          </TR>
	          <TR>
	            <td width="10%">Nome</td>
	            <td><INPUT TYPE="text"></td>
	          </TR>
	          <TR>
	            <td>Email</td>
	            <td><INPUT TYPE="text"></td>
	          </TR>
	          <TR>
	            <td>&nbsp;</td>
	            <td><INPUT TYPE="checkbox"> Ativo</td>
	          </TR>
	       </TABLE>	  
	  </TD>
	 </TR>
	</TABLE>

  </body>
</html>