/*
 * Não complique, veja http://csseasy.com/
*/
/*
 * TODO: Ter o desprendimento moral da Dna. Anésia e suportar apenas
 * navegadores padronizados.
*/
body { 
    display:    block;
    margin:     10px 10px;
    margin-top: 10px;
    width:      800px;
}

#cabecalho {
    background-color: #dddddd;
    height:           50px;
    width:            800px;
}

#corpo {
    background: url(background_3.gif) repeat-y; /* WARNING: IF YOU CHANGE THE COLORS OF THE LAYOUT YOU HAVE TO CHANGE THIS IMAGE! */
    overflow:   auto; /* USE FIREFOX GUYS! WE ONLY NEED THIS LINE BECAUSE INTERNET EXPLODER ISN'T READING CODE PROPERLY */
    margin-top: 10px;
    width:      800px;
}

#menu {
    background-color: #dddddd;
    float:            left;
    height:           auto !important; /* for modern browsers */
    height:           500px;           /* for IE5.x and IE6 */
    min-height:       500px;           /* for modern browsers */
    width:            150px;
}

#conteudo {
    background-color: #dddddd;
    height:           auto !important; /* for modern browsers */
    height:           500px;           /* for IE5.x and IE6   */
    min-height:       500px;           /* for modern browsers */
    margin-left:      160px;
    width:            640px;
}

#rodape {
    background-color: #dddddd;
    font-size:        smaller;
    margin-top:       10px;
    text-align:       center;
    width:            800px;
}